@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    
    
    background-color: "#808080"
}













:root {

  --primary-purple: #6200EE;

  --secondary-purple: #4B00D1;

  --secondary-teal: #03DAC5;

}

a {

  text-decoration: none;

  color: white;

}

ul {

  list-style-type: none;

}

.top-menu {

  display: flex;

  flex-direction: column;

  background: var(--primary-purple);

}

.icons {

  display: flex;

  flex-wrap: wrap;

  justify-content: space-between;

  align-items: center;

  background: var(--primary-purple);

  color: white;

}

.icon, .text {

  cursor: pointer;

  padding: 15px;

}

.text {

  text-transform: capitalize;

}

.home {

  background: var(--secondary-teal);

}

/*Hide home text by default*/

.home .text {

  display: none;

}

.active, #selector:hover {

  background: var(--secondary-purple);

}

.links {

  display: flex;

  flex-direction: column;

  background: var(--secondary-purple);

}

.links li {

  cursor: pointer;

  padding: 15px;

  text-transform: capitalize;

  border-bottom: 1px solid var(--secondary-teal);

}

.hidden {

  display: none;

}

@media only screen and (min-width: 600px) {

  .top-menu {

    flex-direction: row;

    align-items: baseline;

  }

  

  .links {

    display: flex;

    flex-direction: row;

  }

  

  .links li {

    border: none;

    background: var(--primary-purple);

  }

  

  .links li:hover {

    background: var(--secondary-purple);

  }

  

  .icon {

    display: none;

  }

  

  .home .text {

    display: block;

  }

}
